@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

.nav-container{
  width: 150px;
  height: 100vh;
  float:left;
  background-image: linear-gradient(to right,#ff9770, #E9ff70);
  box-shadow: 1px 10px 20px 4px rgba(0,0,0,.5);
  
}
.app-container{
  width: 90%;
  height: 100vh;
  background-image: linear-gradient(to right,#ff70A6, #E9ff70);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.auth-container{
  margin-top: 200px;;
  width: 40%;
  height: 55%;
  background: #ff70A6;
  background-image: linear-gradient(to right,#ff9770, #E9ff70);
  box-shadow: 1px 10px 20px 4px rgba(0,0,0,.5);
}
.auth-top{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.auth-img{
  margin-top: 30px;
  width: 150px;
  height: 150px;
}
.helo{
  font-size: 80px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 30px;
}
.username{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.password{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.auth-btns{
  display: flex;
  justify-content: space-evenly;
}
.authBtn{
  width: 80px;
  height: 40px;
  border: none;
  background-color: #403d39;
  color: white;
}
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash{
  margin-top:30px;
  width: 75%;
  display: flex;
  justify-content: space-between;
}